
<div class="p-5  mb-10 bg-black text-white flex flex-row">
  <div class="text-lg font-bold mr-5">Wishlist Master</div>
  <div class="self-center">For all your gifting needs!</div>
  <div class="ml-auto font-bold underline">
    <a [routerLink]="['/']" routerLinkActive="active" class="ml-auto">Home</a>
    <a [routerLink]="['/addNewItem']" routerLinkActive="active" class="ml-5">Add New Item</a>
    <a [routerLink]="['/cartListView']" routerLinkActive="active" class="ml-5">Compiled Urls</a>
    <a [routerLink]="['/cart']" routerLinkActive="active" class="mx-5">Shopping Cart</a>
  </div>
</div>
