<div class="flex justify-center align-middle">
    <div class="mt-36 border-2 border-black rounded-md p-10">
        <h1 class="font-bold pb-5">Add an Item to the Wishlist!</h1>
        <form class="flex flex-col" [formGroup]="newItemForm">
            <p>Item Name</p>
            <input class="border-2 border-black rounded-md" type="text" formControlName="title"/>
            <p>Item Description</p>
            <input class="border-2 border-black rounded-md" type="text" formControlName="description"/>
            <p>Item Price (must be a number)</p>
            <input class="border-2 border-black rounded-md" type="text" formControlName="price"/>
            <p>Item URL</p>
            <input class="border-2 border-black rounded-md" type="text" formControlName="url"/>
            <button class="self-center mt-10 w-32 border-2 rounded-md bg-black text-white hover:bg-white hover:text-black" type="submit" (click)="addItem();">Submit</button>
        </form>
    </div>
</div>
